{% extends "base.html" %}

{% block title %}About | Jomari's Blog{% endblock %}

{% block content %}
    <div class="card">
        <h1>About Me</h1>
        <h2>Personal Information</h2>
        <p><strong>Full Name:</strong> Jomari L. Bhaya</p>
        <p><strong>Address:</strong> P-12 Bancasi Relocation, Butuan City</p>
        <p><strong>Date of Birth:</strong> September 24, 2001</p>
        <p><strong>Nationality:</strong> Filipino</p>
        <p><strong>Gender:</strong> Male</p>
    </div>

    <div class="card">
        <h2>Education</h2>
        <p><strong>Degree:</strong> Bachelor of Science in Information Technology</p>
        <p><strong>University:</strong> ACLC College of Butuan</p>
        <p><strong>Senior High School:</strong> Agusan National High School</p>
        <p><strong>High School:</strong> Agusan National High School</p>
        <p><strong>Elementary:</strong> Butuan Central Elementary School</p>
    </div>

    <div class="card">
        <h2>Skills</h2>
        <div>
            <h3>Technical Skills</h3>
            <ul>
                <li>Graphic Design Software</li>
                <li>Image Editing Software</li>
                <li>Photography</li>
            </ul>

            <h3>Soft Skills</h3>
            <ul>
                <li>Creativity</li>
                <li>Collaboration</li>
                <li>Time Management</li>
                <li>Adaptability</li>
            </ul>

            <h3>Languages</h3>
            <ul>
                <li>Filipino/Tagalog</li>
                <li>Visayan</li>
                <li>English</li>
            </ul>
        </div>
    </div>
{% endblock %}